body {
    font-family: 'Roboto condensed' !important;
}

.featureTitle {
    text-align: left;
    color: #002343;
    padding-top: 1%;
}

.outerContainer {
    border-radius: 1rem;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF !important;
}

.fontTitles {
    font-size: 120%;
    text-align: left;
}

.buttonSave {
    margin: 2%;
    border-radius: 100px !important;
    background-color: #73bc7a !important;
    border: #73bc7a !important;
    padding: 0.5% 4% 0.5% 4% !important;
}

div {
    color: #002343;
    border: 1px solid #FFFFFF !important;
}

.dropdownMenu {
    border-radius: 20px;
    border: 2px solid #73bc7a;
    text-align: center;
    /*padding: 1% 2%;*/
    margin-left: 2%;
    background-color: #FFFFFF;

}

.divText {
    text-align: left;
    margin-left: 5%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

label {
    margin-left: 1%;
}

button:hover {
    background-color: #278230 !important;
}

.paraText {
    font-size: 75%;
    margin-left: 1%;
    margin-bottom: 0;
    color: #474646;
}

.form-check-input {
    border: 1px solid #bfbfbf !important;
}

.textEinschub {
    margin-left: 0%;
}